a4/a4-cisw440-w1765868.dtd

<!ENTITY genderMale SYSTEM "gender_male.ent">

<!ELEMENT PatientList (Patient+)>
<!ELEMENT Patient (Id, FullName, Dob, Gender, ServiceDate, 
                    ProcedureCode, PrimaryDiagnosis)>
<!ELEMENT Id                (#PCDATA)>
<!ELEMENT FullName          (#PCDATA)>
<!ELEMENT Dob               (#PCDATA)>
<!ELEMENT Gender            (#PCDATA)>
<!ELEMENT ServiceDate       (#PCDATA)>
<!ELEMENT ProcedureCode     (#PCDATA)>
<!ELEMENT PrimaryDiagnosis  (#PCDATA)>

